<link rel="stylesheet" type="text/css" href="schedule.css">
<section><h1>Schedule an Appointment</h1></section>
<section id="patient">
    <span>Patient: </span>{{#if current_patient_name}}<span>{{current_patient_name}}</span>
    {{else}}
    <select id="patientSelect">
        <option value="0"></option>
        {{#each patient_option}}
        <option value={{this.option_value}}>{{this.option_text}}</option>
        {{/each}}
    </select>
    {{/if}}
</section>
<section id="doctor">
    <span>Doctor: </span>
    <span id="doctorName"></span>
    <input id="doctorID" type="hidden" />
</section>
<section id="location">
    <span>Location: </span>
    <span id="locationLabel"></span>
    <input id="locationID" type="hidden" />
</section>
<section id="schedule">
    <div id="calendarContainer">
        <div id="monthHeader">
            <button id="previousMonth"><i class="fa fa-caret-left"></i></button>
            <h3 id="monthTitle"></h3>
            <button id="nextMonth"><i class="fa fa-caret-right"></i></button>
        </div>
        <div id="calendar">
            <div></div>
        </div>
    </div>
    <div id="chooseAvailable">
        <div id="defaultText">Choose a date on the calendar to see available appointments.</div>
        <div id="available">
            <h3 id="dateDisplay"></h3>
            <div id="noAppts" style="display: none;">No appointments available on that date.</div>
            <form id="apptForm" action="{{#if old_appt}}/reschedule{{else}}/schedule{{/if}}" method="POST" style="display: none;">
                <div id="appts"></div>
                <div class="chiefComplaint">Reason for Appointment:
                    <div>
                        <textarea rows="10" cols="100" name="reason"></textarea>
                    </div>
                </div>
                <input type="hidden" name="patient" id="patientInput" {{#if current_patient}}value="{{current_patient}}"{{/if}}/>
                {{#if old_appt}}<input type="hidden" name="old" id="oldAppt" value="{{old_appt}}" />{{/if}}
                <div><input type="submit" value="Schedule"></div>
            </form>
        </div>
    </div>
</section>
<script src="calendarize.js"></script>
<script src="appointment.js"></script>